@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  overflow-y: auto; }
  body::-webkit-scrollbar {
    width: 0; }

html {
  box-sizing: border-box; }

.container-1 {
  align-items: flex-start;
  /*
        flex-direction: column;  //ustawia wyświetlanie w poziomie lub pionie
    */ }
  .container-1 div {
    padding: 20px;
    border: 1px solid #333; }
  .container-1 .box-1 {
    flex: 1;
    order: 3; }
  .container-1 .box-2 {
    flex: 1;
    order: 1; }
  .container-1 .box-3 {
    flex: 1;
    order: 2; }

.container-2 {
  justify-content: space-between; }
  .container-2 div {
    padding: 20px;
    border: 1px solid #333; }
  .container-2-box {
    flex-basis: 25%; }

.container-3 {
  justify-content: space-between; }
  .container-3 div {
    padding: 20px;
    border: 1px solid #333; }
  .container-3-box {
    flex-basis: 15%; }

@media screen and (min-width: 768px) {
  .container-1,
  .container-2,
  .container-3 {
    display: flex;
    flex-wrap: wrap; } }
